body {
  padding-bottom: 200px;
}

.parents {
  display: flex;
  justify-content: space-around;
}

.container {
  /* 원근감. 값이 클수록 멀리서 보는 듯한 효과 */
  perspective: 500px;
  /* perspective-origin: bottom right; */
}

.border {
  border: 2px black 
}

.box {
  width: 100px;
  height: 100px;
  background-color: #e9e9e9;
  text-align: center;
  line-height: 100px;
}

.box + .box {
  margin-top: 20px;
}

/* translateList box 클래스 중 첫번째 요소 */
/* hover 마우스를 올리면 적용되는 것으로 구분 */
.translateList .box:first-child:hover {
  /* translate 맨 위, 왼쪽 모서리가 시작점 */
  /* hover x축 20px 이동 */
  transform: translateX(20px);
}

/* translateList box 클래스 중 두번째 요소 */
.translateList .box:nth-child(2):hover {
  /* hover y축 20px 이동 */
  transform: translateY(20px);
}

/* translateList box 클래스 중 세번째 요소 */
.translateList .box:nth-child(3):hover {
  /* hover x축 10px y축 10px 이동 */
  transform: translate(10px, 10px);
}

/* translateList box 클래스 중 네번째 요소 */
.translateList .box:last-child:hover {
  /* hover z축  */
  transform: translateZ(30px);
}

/* scaleList box 클래스 중 첫번째 요소 */
.scaleList .box:first-child:hover {
  /* hover x축 방향 1.1배 확대, 비율 입력 */
  /* scale은 컨텐츠(a, img, box 등)도 같이 확대,축소 */
  transform: scaleX(1.5);
}

/* scaleList box 클래스 중 두번째 요소 */
.scaleList .box:nth-child(2):hover {
  /* hover y축 방향 50% 축소, 비율 입력 */
  transform: scaleY(50%);
}

/* scaleList box 클래스 중 세번째 요소 */
.scaleList .box:nth-child(3):hover {
  /* 양수: 박스 늘리기,
     음수: 박스 뒤집기 */
  /* 음수 : 기본값 y축 방향 
            값 2개 입력하면 마지막 값 적용 */
  /* 양수 : 기본값 x축 방향
            값 2개 입력하면 x축 y축 순서 */
  /* 양수 음수값은 서로 다른 기능, 중첩사용 가능함. */
  transform: scale(1.5, 3);
}

/* scaleList box 클래스 중 마지막 요소 */
.scaleList .box:last-child:hover {
  transform-origin: bottom;
  transform: scaleZ(-2.0);
}

/* rotate */
.rotateList .box:first-child:hover {
  /* 시계방향으로 90도 회전 */
  transform: rotate(90deg);
}

.rotateList .box:nth-child(2):hover {
  /* origin: 변형되는 기준축 바꿈 */
  /* x축 회전 */
  transform: rotateX(180deg);
}

.rotateList .box:last-child:hover {
  transform-origin: left;
  transform: rotateY(30deg);
}

/* skew */
.skewList .box:first-child:hover {
  /* x축 방향으로 기울임 */
  transform: skewX(20deg);
}

.skewList .box:nth-child(2):hover {
  /* y축 방향으로 기울임 */
  transform: skewY(20deg);
}

.skewList .box:last-child:hover {
  /* x축 방향으로 10도, y축 방향으로 20도 기울임 */
  transform: skew(10deg, 20deg);
}

.dice {
  margin-top: 100px;
  perspective-origin: left bottom;
  padding: 30px;
}

.surface {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.surface:first-child {
  transform-origin: top;
  background-color: rgba(255, 0, 0, 0.4);
  transform: rotateX(-90deg);
}
.surface:nth-child(2) {
  transform-origin: right;
  background-color: rgba(0, 0, 255, 0.4);
  transform: rotateY(-80deg);
}
